html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    color: #00b800;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.app {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    align-items: center;
}

.title-label, .wordCount-label {
    font-size: 1.3em;
    margin: 1rem auto;
}

button {
    display: block;
    border: none;
    background: #a80020;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
}

.wrapper {
    position: relative;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    width: 90vw;
    max-width: 600px;
    height: 150px;
    border: none;
    outline: none;
    padding: 10px;
}

.highscore-label {
    display: flex;
    font-size: .8em;
    color: rgb(29, 26, 26);
    row-gap: 1em;
    position: absolute;
    margin: 0;
    bottom: .5em;
    right: .5em;
}