html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fillPage {
    height: 100%;
}

/*------------------------
         typography
--------------------------*/

.app {
    font-family: 'Press Start 2P', cursive;
}

.title-label, .wordCount-label {
    font-size: 1.3em;
    margin: 1rem auto;
}

textarea {
    font-family: 'Press Start 2P', cursive;
}

.highscore-label {
    font-size: .8em;
    color: rgb(29, 26, 26);
}

/*------------------------
          layout
--------------------------*/

button {
    display: block;
    border: none;
    padding: 10px 20px;
}

.themeButton {
    align-self: flex-end;
    margin: .5em;
}

.wrapper {
    position: relative;
}

textarea {
    width: 90vw;
    max-width: 600px;
    height: 150px;
    border: none;
    outline: none;
    padding: 10px;
}

.highscore-label {
    display: flex;
    row-gap: 1em;
    position: absolute;
    margin: 0;
    bottom: .5em;
    right: .5em;
}

/*------------------------
          themes
--------------------------*/

.dark-theme {
    background: black;
    color: #00b800;
}

.dark-component {
    background: #00b800;
    color: black;
}

.light-theme {
    background: #F5EFFF;
    color: #7371FC;
}

.light-component {
    color: #F5EFFF;
    background: #7371FC;
}

.disabled-component {
    background: #969696;
}